[submodule "lib/clingo"]
	path = lib/clingo
	url = https://github.com/potassco/clingo
[submodule "lib/catch"]
	path = lib/catch
	url = https://github.com/catchorg/Catch2
[submodule "lib/cxxopts"]
	path = lib/cxxopts
	url = https://github.com/jarro2783/cxxopts
